<section class="content">
  <a routerLink = "/dashboard" routerLinkActive="active" rel="noopener" href="" class="panel" id="dashboard-panel">
    <i class="fa fa-tachometer" aria-hidden="true"></i>
    <h2>Dashboard</h2>
  </a>
  <a routerLink = "/agreements" routerLinkActive="active" rel="noopener" href="" class="panel" id="agreement-panel">
    <i class="fa fa-handshake-o" aria-hidden="true"></i>
    <h2>Agreements</h2>
  </a>
  <a routerLink = "/calendar" routerLinkActive="active" rel="noopener" href="" class="panel" id="calendar-panel">
    <i class="fa fa-calendar-o" aria-hidden="true"></i>
    <h2>Calendar</h2>
  </a>
</section>
